.dailyEdtGrid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns:  300px;
    grid-template-rows: repeat(5, 125px);
    justify-content: center;
}

.dailyEdtContainer {
    border-radius: 4px;
    padding: 8px;
    height: auto;
}

.dailyEdtTitle {
    border-bottom: solid;
    text-align: center;
    padding: 8px;
}

.dailyEdtEmpty {
    padding: 8px;
}
