.links {
    border-radius: 4px;
    padding: 8px;
    height: 100%;
    max-width: 100%;
    width: 100%;
}

.links-title{
    border-bottom: solid;
    text-align: center;
    padding: 8px;
    font-size: 1.75rem;
}

.links-content {
    padding: 8px;
}
@media screen and (min-width: 1260px)
{
    .links {
        border-radius: 4px;
        padding: 8px;
        height: 100%;
        margin-right: 3em;
        max-width: 50%;
        width: 100%;
        margin-top: 0;
    }
}
