.mini-bio {
    border-radius: 4px;
    padding: 8px;
    width: 100%;
}

.mini-bio-title {
    border-bottom: solid;
    text-align: left;
    padding: 8px;
    font-size: 1.75rem;
}

.mini-bio-content {
    padding-left: 8px;
}
